
.main {
  position: relative;
  display: flex;
  flex-grow: 1;
  gap: 20px;
  width: 100%;
  padding: 20px;

  @media (width <= 800px) {
    flex-direction: column;
  }
}

.listSection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 380px);
  max-width: var(--max-width);
  min-height: 100%;
  margin: 0 auto;
  border-radius: 20px;

  @media (width <= 800px) {
    width: 100%;
  }
}

.detailsSection {
  position: sticky;
  top: 20px;
  right: 20px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  width: 380px;
  height: fit-content;
  min-height: min(600px, calc(100dvh - 40px));
  max-height: calc(100dvh - 40px);
  margin: 72px auto 0;
  padding: 25px;
  background-color: var(--color-primary);
  border-radius: 20px;
  box-shadow: 10px 10px 20px 10px var(--color-shadow);
  transition: background-color 0.6s ease, box-shadow 0.6s ease;

  @media (width <= 800px) {
    box-shadow: 0 0 20px 10px var(--color-shadow);
  }

  @media (width <= 800px) {
    position: fixed;
    top: 50%;
    left: 50%;
    order: -1;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }

  @media (width <= 450px) {
    width: min(300px, 100%);
    max-width: calc(100% - 40px);
    min-height: min(520px, calc(100dvh - 40px));
    padding: 0;
    background-color: var(--color-primary);
  }

  @media (width <= 360px) {
    min-height: min(520 px, calc(100% - 40px));
    max-height: calc(100% - 40px);
  }
}
