.container {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: var(--color-bg-page);
  transition: background-color 0.6s ease;
}
