.card {
  display: flex;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min(300px, 100%);
  margin: 0 auto;
  padding: 20px;
  text-decoration: none;
  color: var(--color-text-primary);
  background-color: var(--color-bg-container);
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgb(0 0 0 / 20%),;
  cursor: pointer;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
}

.active {
  background-color: var(--color-primary);
  cursor: initial;
  transform: scale(1.03);
}

.placeholder {
  display: grid;
  place-items: center;
}

.loader {
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
  aspect-ratio: 1;
}

.image {
  grid-area: 1 / 1 / 1 / 1;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.propsContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.prop {
  margin: 0;
}

.param {
  font-weight: 700;
}
