.card {
  display: flex;
  width: min(300px, 100%);
}

.title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  transition: text-decoration-color 0.6s ease, color 0.6s ease;
  text-decoration-color: transparent;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-decoration: none;
  color: var(--color-text-primary);
  background-color: var(--color-bg-container);
  border-radius: 10px;
  box-shadow: 8px 8px 10px 4px var(--color-shadow),;
  cursor: pointer;
  transition: background-color 0.6s ease, box-shadow 0.6s ease;

  &:hover:not(.active),
  &:focus-visible:not(.active) {
    @media (hover: hover) {
      box-shadow: 5px 5px 10px 4px var(--color-shadow),;

      & .title {
        text-decoration-color: var(--color-text-primary);
      }
    }
  }
}

.active {
  background-color: var(--color-primary);
  box-shadow: none;
  cursor: initial;

  & .title {
    text-decoration-color: var(--color-text-primary);
  }
}

.content {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.checkbox {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
