.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min(300px, 100%);
  padding: 20px;
  background-color: var(--color-bg-container);
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgb(0 0 0 / 20%),;
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.propsContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.prop {
  margin: 0;
}

.param {
  font-weight: 700;
}
