.form {
  display: flex;
  gap: 5px;
}

.input {
  padding: 5px;
  font-family: var(--primary-font);
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-dark);
  border-radius: 6px;
  transition:
    border-color 0.6s ease-out,
    background-color 0.6s ease-out,
    color 0.6s ease-out,;

  &::placeholder {
    transition: color 0.6s ease;
  }

  :global(.dark-theme) & {
    background-color: var(--color-bg-page);
    border-color: var(--color-disabled);

    &::placeholder {
      color: #afaaaa;
    }
  }
}
