.page {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: var(--color-bg-page);
}

.main {
  display: flex;
  flex-grow: 1;
  gap: 40px;
  width: 100%;
  padding: 20px;

  @media (width <= 800px) {
    flex-direction: column;
  }
}

.listSection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: var(--max-width);
  min-height: 100%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgb(0 0 0 / 20%),;
}

.detailsSection {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  height: fit-content;
  min-height: 600px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgb(0 0 0 / 20%),;

  @media (width <= 800px) {
    order: -1;
  }

  @media (width <= 450px) {
    width: 100%;
  }
}
