.placeholder {
  display: grid;
  place-items: center;
}

.loader {
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
  aspect-ratio: 1;
}

.image {
  grid-area: 1 / 1 / 1 / 1;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.placeholderImage {
  padding: 10px;
}

.hidden {
  display: none;
}
